@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot?1x5u5b');
  src:url('fonts/icomoon.eot?#iefix1x5u5b') format('embedded-opentype'),
    url('fonts/icomoon.woff?1x5u5b') format('woff'),
    url('fonts/icomoon.ttf?1x5u5b') format('truetype'),
    url('fonts/icomoon.svg?1x5u5b#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before {
  content: "\e609";
}
.icon-arrow-right:before {
  content: "\e60a";
}
.icon-cart:before {
  content: "\e600";
}
.icon-cart2:before {
  content: "\e601";
}
.icon-cart3:before {
  content: "\e608";
}
.icon-coin:before {
  content: "\e606";
}
.icon-lock:before {
  content: "\e60e";
}
.icon-cog:before {
  content: "\e616";
}
.icon-trophy:before {
  content: "\e610";
}
.icon-truck:before {
  content: "\e615";
}
.icon-eye:before {
  content: "\e614";
}
.icon-close:before {
  content: "\e60b";
}
.icon-arrow-up:before {
  content: "\e613";
}
.icon-googleplus:before {
  content: "\e611";
}
.icon-facebook:before {
  content: "\e607";
}
.icon-twitter:before {
  content: "\e602";
}
.icon-youtube:before {
  content: "\e612";
}
.icon-vimeo:before {
  content: "\e603";
}
.icon-dribbble:before {
  content: "\e604";
}
.icon-skype:before {
  content: "\e605";
}
.icon-pinterest:before {
  content: "\e60c";
}
.icon-shop:before {
  content: "\e60d";
}
.icon-heart:before {
  content: "\e60f";
}
