@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,600&subset=latin,latin-ext);

h1,h2,h3,h4,h5,h6, body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300; 
}
p{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300; 
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 20px;
}
body {
  padding-top: 0;
  color:#4c4c4c;
}
strong{
  font-weight: 600;
}
.padding-top-bottom {
  padding: 60px 0;
}

h3.center {
  margin: 25px 0 20px 0;
}

.iconBig {
  font-size: 50px;
  display: block;
  /* border-radius: 50%; */
  /* border: 2px solid #fff; */
  width: 80px;
  height: 80px;
  margin: 0 auto 0 auto;
  /* line-height: 50px; */
}
.iconBig:before {
  line-height: 100px;
}

/* ------------------------ colors ------------------------ */
.gray-bg {
  background-color: #f2f2f2;
}
.color-bg{
  background-color:#731800;
}
.dark-bg {
  background-color: #323A42;
}


/* ------------------------ hero slider ------------------------ */
#hero-slider{
  z-index: -1;
}

.welcome-content h2{
  font-size: 80px;
  font-weight: 200;
}
.welcome-content {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  margin-top: -10em;
  z-index: 12;
}
.hero-image-bg {
  overflow: hidden;
  background-size: cover;
  background-image: url('../img/01.jpg');
  background-position: center 16%;
  position: relative;
  padding: 180px 0 120px 0;
}

#hero h2 {
  font-size: 18px;
} 
#hero .btn-store {
  margin: 0;
}
#hero img {
  margin: 0 auto 0 auto;
  /* max-width: 300px; */
  margin-bottom: 15px;
}
/* ------------------------ section ------------------------ */

.section-header h2 {
/*  margin-top: 40px;*/
  margin-bottom: 3px;
  font-weight: 600;
}
.section-header h4 {
  margin-top: 0;
}


/* ------------------------ image background ------------------------ */
.image-bg {
  overflow: hidden;
  background-size: cover;
  background-image: url('../img/12.jpg');
  background-position: center 16%;
  position: relative;
}


.overlay-bg {position: absolute; top: 0; left: 0; right: 0; bottom: 0;  opacity: 0.5;
  background-color: #000;
  z-index: 10;}


.dark-bg a {
  color: #23A657;
}
.light-typo {
  color: #fff;
}

.section-header{
  margin-bottom: 40px;
}
footer {
  padding-left: 15px;
  padding-right: 15px;
}
.img-center {
  margin: 0 auto;
}


/* ------------------------ nav bar ------------------------ */
.navbar{
  background-color: #242424;
  /* background-color: rgba(36,36,36,0.9); */
  border: 0;

}
.navbar-header{
  /*padding-top: 5px;*/
}
.navbar-header i {
  float: left;
  margin-right: 10px;
  font-size: 21px;
  color: #23A657;
  margin-top: 3px;
}
.navbar-brand {
  /*line-height: 30px;*/
  padding: 7px 0 0 15px;
  /*margin-left: 0;*/
}
.navbar>.container .navbar-brand,.navbar>.container-fluid .navbar-brand {
        /*margin-left:0;*/
  }
.navbar-collapse{
   /*padding: 5px 0; */
}

.navbar-nav {
  text-transform: uppercase;
  font-size: 14px;
  /*padding: 5px 0;*/
}

.navbar-inverse .navbar-nav>li>a,
.navbar-inverse .navbar-brand {
  color: #FFF;
  line-height: 30px;
  font-size: 18px;
  font-weight: 700;
}
.navbar-inverse .navbar-nav>li>a:hover, 
.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #7e1800;
  background-color: transparent;
}

.media>.pull-left {
  margin-right: 15px;
}

.navbar-inverse .navbar-nav>li>a.active,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
  color: #7e1800;
  background-color: transparent;
}

.navbar-btn {
  background-color: #23A657;
  border: 0;
  color: #FFF;
  font-weight: 300;
}

.dropdown{
  padding-top: 13px;
}
.dropdown-toggle{
  background-color: #23A657;
  color: #FFF;
  border: 0;
  font-weight: 300;
}
.dropdown-toggle:hover,.dropdown-toggle:focus,.dropdown-toggle:active, .open .dropdown-toggle.btn-default{
  background-color: #000;
  color: #FFF;
}
.dropdown-menu {
  min-width: 120px;
  background-color: #000;
  border: 0;
  color: #FFF;
}
.dropdown-menu>li>a {
  color:#FFF;
  font-weight: 300;
}
.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus{
  background-color: #23A657;
  color: #FFF;
}
.navbar-toggle {
  margin-top: 14px;
  margin-bottom: 14px;
}

.navbar-toggle.second{
  padding: 6px 10px 6px 10px;
}

/* ------------------------ footer ----------------------*/

.paymentMethodImg img {
  margin-left: 5px;
  /*text-align: center;*/
}

/* ------------------------ buttons ----------------------*/
.btn-store {
  border: none;
  font-family: inherit;
  font-size: 14px;
  cursor: pointer;
  padding: 12px 23px;
  display: inline-block;
  margin: 0 10px 10px 0;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 300;
  outline: none;
  position: relative;
  background: #7e1800;
  color: #fff;
  border-radius: 5px;
  -webkit-transition:all .3s ease-out;
  -moz-transition:all .3s ease-out;
  transition:all .3s ease-out;
}
.btn-store:hover,
.btn-store:focus,
.btn-store:active {
  color: #fff;
  top: 0;
  text-decoration: none;
  background-color: #450713;
  box-shadow: none;
}
.btn-store.outline {
  background: transparent;
  border:2px solid #23A657;
  box-shadow: none;
  
  color: #23A657;
  text-decoration: none;
  -webkit-transition:all .3s ease-out;
  transition:all .3s ease-out;
  /* padding: 13px 30px; */
  font-weight: 600;
}
.btn-store.color {
  box-shadow: none;
  text-decoration: none;
  background-color: #F77F00;
}
.btn-error{
  background-color: #F05557 !important;
}
.btn-store.dark {
  box-shadow: none;
  text-decoration: none;
  background-color: #313a43;
}
.btn-store.dark:hover,
.btn-store.dark:focus,
.btn-store.dark:active {
  top: 0;
  background-color: #1A1F23;
  text-decoration: none;
}
.btn-store.color:hover,
.btn-store.color:focus,
.btn-store.color:active {
  background: #fff;
  background-color: #f75b00;
  top:0;
  text-decoration: none;
}
.btn-store.outline:hover,
.btn-store.outline:focus,
.btn-store.outline:active {
  background: #23A657;
  color:#FFF;
  top:0;
  text-decoration: none;
}
.btn-store.icon-left  [class*=in]{
  margin-right:10px;
}
.btn-store.icon-right [class*=in]{
  margin-left:10px;
}
.navbar-inverse .navbar-toggle {
  border: none;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
  background-color: #23A657;
}
.ico {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.btn-store [class*=ico] {
  margin-right: 10px;
}
.btn-right {
  float: right;
  margin-right: 0;
}
/* ------------------------ Call to action ----------------------*/
.cta {
  padding: 50px 0 30px;
}
.cta .cta-message p {
  padding: 15px 0 20px;
  font-size:22px;
  line-height:32px;
}
.cta .cta-message strong {
  font-size: 24px;
  letter-spacing:0.02em;
}
.cta-button {
  margin:15px 0 15px 0;
}

/* ------------------------ table ----------------------*/
table {
  font-size: 18px;
  text-align: left; 
}

/* ------------------------------ clients -------------------------- */
#clients a {
  display: block;
  text-align: center;
  margin-bottom: 30px;
}

/* ------------------------------ testimonial -------------------------- */
#testimonial {
  text-align: center;
}
.carousel ,
.testimonial{
  z-index: 20;
}
.carousel-indicators {
  position: absolute;
  bottom: -15px;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}
.carousel-indicators li {
  width: 13px;
  height: 13px;
  margin: 0 5px;
  text-indent: -999px;
  cursor: pointer;
  border: 0;
  border-radius: 20px;
  background-color: #FFF;
  opacity: 0.7;
}
.carousel-indicators li.active {
  width: 13px;
  height: 13px;
   margin: 0 5px;
  background-color: #23A657;
  opacity: 1;
}

/* ------------------------------ products -------------------------- */
.project-price {
  position: relative;
  float: right;
  font-weight: 600;
  font-size: 21px;
  margin: 0;
}
.project-oldprice {
  position: relative;
  float: right;
  margin: 0;
  font-size: 16px;
  text-decoration: line-through;
  color: #999;
  padding: 1px 8px 0 0 ; 
  display: inline;
}

.product {
  position:relative;
   
  margin-bottom: 30px;
   overflow: hidden;
   display:block;
}

.img-box:hover .hover-mask2{
  opacity:.5; 
  cursor: pointer;
  -o-transition:.1s;-ms-transition:.1s;-moz-transition:.1s;-webkit-transition:.1s;transition:.1s;
}
.but {
  position: absolute;
  width: 100%;
  top:45%;
}
.product-icon:before {
  position: absolute;
  text-align: center;
  opacity: 0;
  top: 50%;
  left: 50%;
  color: #fff;
  font-size: 30px;
  margin: -15px 0 0 -15px;
  -moz-transition: all 200ms ease-out;
  -webkit-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}
.img-box:hover .product-icon:before {
  opacity: 1;
  font-size: 50px;
  margin: -25px 0 0 -25px;
}
.product-info{
  display:block;
  border: 0;
  width: 100%;
  opacity: 1;
  padding: 10px 5px 0 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.product-info div h4{
  font-weight: 400;
  margin: 0;
  color: #23A657;
  line-height: 24px;
}
.product-info div p{
  margin: 0;
  color: #000;
  font-size: 14px;
}
.img-box{
  overflow: hidden;
  position: relative;
  border-radius: 5px;
}
.hover-mask2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #23A657;
  opacity: 0;
  display: block;
  -o-transition:1s;-ms-transition:1s;-moz-transition:1s;-webkit-transition:1s;transition:1s;
}



/* ------------------------------ Modal window -------------------------- */

.modal {
  overflow: auto;
}

.modal-open, .modal-open .navbar-fixed-top {
  margin-right: auto !important;
  overflow: hidden;
}

.text-modal h2{
  margin-bottom: 20px;
}
.text-modal p{
  text-align:justify;
}
.text-modal .close {
  margin-top: 25px;
  text-shadow: none;
}
.fade.modal {
  overflow-x:hidden;
}
.modal.fade .modal-dialog {
  -webkit-transform: translateY(2000px);
  -moz-transform: translateY(2000px);
  -ms-transform: translateY(2000px);
  transform: translateY(2000px);
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.5s;
}
.modal.in .modal-dialog {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}
.modal-backdrop{
  background-color:#1D2026;
}
.modal-backdrop.in{
  opacity:1;
  filter: alpha(opacity=100);
}
.modal-dialog{
  width:100%;
  height:100%;
  padding:0;
  margin:0;
}
.modal-content{
  width: 100%;
  min-height: 100%;
  border:none;
  border-radius:0;
  box-shadow:none;
  background-color:#fff;
}
.modal-header{
  width:100%;
  margin:0;
  padding:0;
  background: #F3F3F3;
  color:#fff;
  border:none;
  text-align:center;
  height: 600px;
}

.modal-header .col-sm-12 {
  padding: 0;
}
#hdr-title{
  margin-bottom:20px;
}
#project-modal .close{
  float:right;
  font-size:21px;
  line-height:21px;
  font-weight:300;
  margin-top: 23px;
  /* margin-bottom:13px; */
  margin-right: 32px;
  opacity:1;
  color:inherit;
  text-shadow:none;
  -webkit-transition:all 0.2s ease-out;
  transition:all 0.2s ease-out;
  position: absolute;
  z-index: 4;
  right: 0;
}
#project-modal .close:hover{
  opacity: 1;
  color: #23A657;
}
.modal-body {
  margin:0;
  padding:20px 0 80px 0;
}
.modal-body .project-descr{
  margin:0 0 24px;
}
.modal-header .loader {
  position:absolute;
  left:50%;
  top: 28%;
  /* margin-top: 33%; */
  margin-left: -8px;
  width:35px;
  height:35px;
  background:url('../img/loader.gif') no-repeat 50% 50%;
  z-index:1;
}
.modal-header .image-wrapper {
  position:relative;
  overflow:hidden;
  height: auto;
}
.modal-header .screen{
  box-sizing:padding-box;
  border:none;
  box-shadow:none;
  margin:0;
  padding:0;
  position:absolute; 
  top:0;
  left: 0;
  width:100%;
  height:auto;
  z-index:2;
  opacity:0;
  -webkit-transition:all 0.5s ease-out 0.7s;
  transition:all 0.5s ease-out 0.7s;
}
.modal-header .screen.done {
  opacity:1;
}
body.modal-open {
  margin: 0;
}
#project-sidebar{
  margin-bottom:20px;
}

#project-sidebar p{
  margin-bottom:10px;

}
#project-content{
  text-align:justify;
}
#project-content .btn-store{
  margin-right: 0;
}

#sdbr-price {
  font-weight: 600;
  font-size: 23px;
  width: auto;
  /* float: left; */
  display: inline;
}

#sdbr-oldprice {
  text-decoration: line-through;
  color: #999;
  padding: 8px 0 0 8px;
  /* float: left; */
  display: inline;
}
#sdbr-title {
  margin-top: 0;
  color: #23A657;
  /* font-weight: 600; */
  margin-bottom: 0;

}

/* ------------------------------ Contact -------------------------- */
.contact-info h2{
  margin-top: 0; 
}
address {
  font-size: 18px;
}

.colorWhite, .colorWhite i {
  color: #fff !important;
}
.contact-item h2{
  font-size:18px;
  font-weight:600;
  margin-bottom:10px;
}
.contact-item .icon{
  display:block;
  font-size:48px;
  color:#5cc9df;
  text-shadow:-2px 2px 0 rgba(0,0,0,0.1);
  -webkit-transition:all .3s ease-out;
  transition:all .3s ease-out;
}
.contact-item .icon:hover{
  color:#5cc9df;
  -webkit-transform:scale(1.3) translateY(-10px);
  transform:scale(1.3) translateY(-10px);
}
.bl_form {
  margin: 30px 0 0;
}
.bl_form input {
  padding-top: 15px;
  background: rgba(255,255,255,0.10);
  box-shadow: 0 4px 0px rgba(0,0,0,0.2);
  border: none;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}
.lb_wrap .lb_label.top, 
.lb_wrap .lb_label.bottom {
  left: 66px !important;
}
.lb_wrap .lb_label.left {
  left: 0;
}
.lb_label {
  font-size:17px;
  line-height:32px;
  font-weight: 400;
  color: #ccc;
}
.no-placeholder .lb_label {
  display:none;
}
.lb_label.active {
  color: #aaa;
}
#order-form .form-group label,
#contact-form .form-group label{
  display:none;
  font-size:18px;
  line-height:24px;
  font-weight:100;
  text-align: center;
  /* text-transform:uppercase; */
}
#order-form .no-placeholder .form-group label,
#contact-form .no-placeholder .form-group label{
  display:block;
}
#order-form.controls {
  /* padding:0; */
}
#order-form.no-placeholder .controls,
#contact-form.no-placeholder .controls {
  margin-top:0;
}
#order-form .form-control,
#contact-form .form-control,
.input-group .form-control {
  display:inline;
  background:#fff;
  border:none;
  /* border-radius:5px; */
  outline:none;
  height: 44px;
  font-size:18px;
  line-height:32px;
  color:#000;
  font-weight:400;
  vertical-align:top;
  border:2px solid #FFF;
  box-shadow:none;
}

.special {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

#order-form.form-group.half-width{
  width:40%;
  float:left;
}
#order-form.btn-store{
  margin: 0;
}
#order-form.form-group{
  /* position:relative; */
}
#order-form.form-group [class*=fa] {
  display:block;
  width:64px;
  position:absolute;
  top:0;
  left:5px;
  color:#eee;
  font-size:24px;
  line-height:52px;
  text-align:center;
  font-weight:300;
  -webkit-transition:color .3s ease-out;
  transition:color .3s ease-out;
}
#order-form.form-group [class*=fa].active{
  color:#ccc;
}
#order-form.no-placeholder .form-group [class*=fa]{
  top:30px;
}
#order-form textarea.form-control,
#contact-form textarea.form-control {
  height:auto;
  max-width:100%;
  min-width:100%;
  font-size:18px;
  font-weight:400;
  line-height:24px;
  padding-top:14px;
  vertical-align:top;
  border:2px solid #FFF;
}
#contact-form .form-control:focus,
#order-form .form-control:focus, 
.input-group .form-control:focus {
  outline:none;
  border: 2px solid #7e1800;
}
#order-form .inputError,
#order-form textarea.form-control.inputError,
#newsletter-form .inputError {
  outline:none;
  border:2px solid #F05557;
}

#order-form.error-message {
  position:absolute;
  top:15px;
  right:12px;
  font-size:15px;
  line-height:24px;
  font-weight:400;
  color:#F05557;
  z-index:10;
}
#order-form.no-placeholder .error-message {
  top:0;
}
.input-group-btn .btn-king {
  margin: 0;
}
#main-footer,
#social {
  padding: 40px 0 20px;
}
.checkbox, .radio {
  margin-bottom: 12px;
  padding-left: 32px;
  position: relative;
  -webkit-transition: color 0.25s linear;
  transition: color 0.25s linear;
  font-size: 14px;
  line-height: 1.5;
}
label.show {
  display: block;
  text-decoration: none;
  /* display: inline; */
}
input[type=radio],input[type=checkbox] {
    margin: 4px 7px 0 0;
    line-height: normal;
    font-size: 21px;
    /* display: inherit; */
    /*float: left;*/
    text-align: center;
}
form p {
  margin-top: 16px;
}
#total {
  font-weight: 600;
}

.input-group .input-group-btn .btn{
  margin: 0;
}

.form-control-inline {
    min-width: 0;
    width: auto!important; 
    display: inline!important;
}

.table tbody>tr>td.vert-align {
    vertical-align: middle;
}

/* 320px order-form fix */
#order-form table td:first-child, 
#order-form table th:first-child {
    padding-left: 0;
}
#order-form table td:last-child, 
#order-form table th:last-child {
    padding-right: 0;
}

/* ------------------------------ social links -------------------------- */
.social-links,
.social-profiles {
  list-style:none;
  margin:0;
  padding:0;
  margin-bottom: 29px;
}
.social-links li,
.social-profiles li{
  display:inline-block;
  margin: 9px 9px 0 9px;
  border-radius:3px;
  box-shadow:0 4px 0 transparent;
  -webkit-transition:all .3s ease-out;
  transition:all .3s ease-out;
}
.social-links li a {
  background: transparent;
  border: 2px solid #fff;
  display:block;
  color:#FFF;
  font-size: 18px;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align:center;
  border-radius:50%;
  -webkit-transition:all .3s ease-out;
  transition:all .3s ease-out;
}
.social-links li a i{
  
}
.social-links li a:hover {
  color:#FFF;
  background:#23A657;
  text-decoration: none;
  border-color: #23A657;
}

/* ------------------------------ Media -------------------------- */
@media (max-width: 480px) { 
  .copyright {
    width: 100%;
    text-align: center;
  }
  h2 {font-size: 26px;}
} 
@media (max-width: 768px) { 
  .text-col,
  .text-col2,
  .cta-message {
    text-align: center;
  }
  .hero-slider, .hero-sloder h2 {
    text-align: center !important;
  }
  .modal-header .loader{
    top:15%;
  }
  .modal-header {
    height: 350px;
  }
  .welcome-content {
    top: 43%;
  }
  .welcome-content img {
    padding: 0 15px; 
  }
  .padding-top-bottom {
    padding: 30px 0;
  }
  h1 {font-size: 28px;}
  h3 {/* font-size: 18px; */}
  .news {
    padding-bottom: 40px;
  }

}
 @media (max-width: 992px) { 
  .cta-message {
    text-align: center;
  }
  .text-col{
    margin-top: 0;
  }
 }
 @media (min-width: 1200px) { 
  .modal-header {
    height: 650px;
  }
  
}

.works {
  padding-top: 75px;
}

@media
/* ------------------------ featured in footer ------------------------ */
.featuredText {
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  background-color: #7e1800;
  padding: 10px 25px;
  margin-bottom: 20px;
}
.featuredImg {
  padding-right: 15px;
  margin-top: 20px;
}

/* ------------------------ Make full width ------------------------ */
.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}

.home-ad-div {
  margin: 40px;
}

/* ------------------------ how it works ------------------------ */
.no-margin {
  margin: 0; 
}

.gray-back {
  background-color: rgb(237, 237, 237); 
  padding-bottom: 40px;
}

.header-text {
  padding-top: 40px;
  text-align: center;
}

.ad-div {
  float: left;
  height: 100%;
  position: relative;
  display: block !important;
  box-sizing: border-box;
  padding-bottom: 40px;
  text-align: center;
}

.ad-div h1 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14pt;
  display: block !important;
  text-align: center;
}

.ng-scope {
  margin-top: 31px;
}